{% extends 'temp.html.twig' %}

{% block title %}
    <div class="jumbotron">
        <h1 class="display-4">Liste des stages proposant la formation  {{formation.nomLong}}!</h1>
            <p class="lead">Trouvez le stage idéal proposé a votre formation .</p>
        <hr class="my-4">
            <p>N'eshitez pas a cliquer sur le bouton "en savoir plus ! " pour obtenir plus d'information.</p>
        </hr>   
    </div>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row row-cols-1 row-cols-md-5 g-4">

{% for stage in formation.stage %}
     <div class="col">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">{{stage.titre}}</div>
                <div class="card-body text-secondary">
                    <p class="card-text">Stage proposé par l'entreprise : {{stage.entreprise.nom}}</p>
                    <a href="http://127.0.0.1:8000/stages/{{stage.id}}" class="btn btn-primary">en savoir plus !</a>
                </div>
        </div>
    </div>
{% endfor %}

</div>>

{% endblock %}
