
{% extends 'temp.html.twig' %}

{% block title %}
    <div class="jumbotron">
        <h1 class="display-4">Liste des entreprises !</h1>
            <p class="lead">Trouvez l'entreprise de vos rêves et observez les stages qu'elle propose. </p>
        <hr class="my-4">
            <p>Vous pouvez filtrer la liste des stages par l'entreprise voulue avec le lien "Filtrer !" .</p>
        </hr>   
    </div>
{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

 

    {% for entreprise in entreprises %}
        <div class="container-sm bg-grey border border-dark" >
            <table width=100%  style="text-align:right">
            <tbody>
                <tr>
                    <td align=center>
                        <p style="font-weight:bolder;font-size:large">
                            {{entreprise.nom}}
                        </p>
                        <p>
                            <u>Adresse :</u> {{entreprise.adresse}}
                        </p>
                        <p>
                            <u>Activite :</u> {{entreprise.activite}}
                        </p>
                    </td>
                    <td align=right>
                        <a href="http://127.0.0.1:8000/stage/entreprise/{{entreprise.id}}" >Filtrer !</a>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        </p><p>

    {% endfor %}

 

{% endblock %}

