<!DOCTYPE html>
<html>
    {% block title %}
    <table width=100% Border="1" style="text-align:left; background-color: #d7d9f2">
    <tbody align=center>
        <tr>
            <td width=33%>
                <a href="http://127.0.0.1:8000/formations"> <span> choisir formation </span>  </a>
            </td>
            <td width=33%>
                <a href="http://127.0.0.1:8000/entreprises"> <span> choisir entreprise </span> </a>
            </td>
            <td width=33%>
                <a href="http://127.0.0.1:8000/principal"> <span> acceuil      </span> </a>
            </td>
        </tr>
    </tbody>
    </table>
    {% endblock %}
    {% block body %} 
    
    {% endblock %}
    {% block footer %}

    {% endblock %}
</html>
