<!DOCTYPE html>
<html>
    {% block title %}
    <table width=80% style="text-align:left">
    <tbody align=center>
        <tr>
            <td>
                <a href="http://127.0.0.1:8000/formations"> <span> choisir formation </span>  </a>
            </td>
            <td>
                <a href="http://127.0.0.1:8000/entreprises"> <span> choisir entreprise </span> </a>
            </td>
            <td >
                <a href="http://127.0.0.1:8000/principal"> <span> accueil </span> </a>
            </td>
        </tr>
    </tbody>
    </table>
    {% endblock %}
    {% block body %} 
    
    {% endblock %}
    {% block footer %}

    {% endblock %}
</html>
